parameters:
    paths:
        - src

    # The level 8 is the highest level
    level: 1

    ignoreErrors:
        - '#Call to an undefined static method ScoutElastic\\Facades\\ElasticClient#'
        - '#Function config not found#'
        - '#Call to static method error\(\) on an unknown class Log#'
